# Regular Expressions – Part 3 Capturing into DF

Pages we need to visit:

- Live Testing: https://regex101.com/
- Sandeep's <a href="https://docs.google.com/spreadsheets/d/1A39lM4SiGZbzZPxrjEXkR05aksAewudccWmojoIU0Gk/edit?usp=sharing">REGEX Tip sheet</a>

### Some dummy text:

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163.

&^%@ 129

In [1]:
## place dummy text into a variable called mydoc
mydoc = '''
12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163.

&^%@ 129

abba



'''

In [2]:
## call mydoc
mydoc

"\n12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.\n\n\nAb_CD123  123456 and 12456\ttor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11\n\nThe cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!\n\nAB_cd \t<+>-.,!@# $%^&*();\\/|_^@1# (917) 488-5410\n\n*!dsar2d1\n\nI told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.\n\nabcdefgczhijklmnopqrstuvwxyz\tABCDEFGCZHIJKLMNOPQRSTUVWXYZ\n\nA h0g is a hog.\n\nDog and dog and DOG. His number is 415.458.9163.\n\n&^%@ 129\n\nabba\n\n\n\n"

In [4]:
## import libraries
import re
import pandas as pd

### Is a value present?

In [6]:
## example list - run it
mylist = [1, 2, 3, 4, 5, 6, 8, 7, 9]

In [7]:
## is the number 1 in the list?
1 in mylist

True

In [8]:
## is the number 12 in the list?
12 in mylist

False

In [ ]:
### is "12534" in mydoc

In [ ]:
## is "x34" in mydoc

#### Let's actually use a regex pattern

In [ ]:
## find all words and digits (excluding symbols)

In [ ]:
## let's run it on our mydoc string

In [ ]:
## put out the actual match

## ```findall```

Returns a list of all found items

``` result = your_pattern.findall(doc_to_search)```

In [ ]:
## use findall to find all matching patterns

In [ ]:
## what object is it?

## Import document(s) to scan

In [ ]:
## access external document
## store text into a variable

In [ ]:
## print text

In [ ]:
## call text

In [ ]:
## find all phone numbers

In [ ]:
## call our tel_pat to see someting interesting

### Flags

- ```re.IGNORECASE``` or ```re.I``` for ignore case
- ```re.MULTILINE¶``` or ```re.M``` for multiline
- ```re.DOTALL``` or ```re.S``` for period includes new lines
- ```re.VERBOSE``` or ```re.X``` for breaking up the regex

<a href="https://docs.python.org/3/library/re.html#re.ASCII">More on flags</a>.

In [ ]:
## find all words at the beginning of a line

In [ ]:
## print all matches

In [ ]:
## find all words at the beginning of a line
## ^ or $ need multiline flag

In [ ]:
## print all matches

In [ ]:
## find all words at the beginning of a line regardless of case

In [ ]:
## find all matches for pat2

## Capture Mock Table data
Place animals, ID and color and place into dataframe

In [ ]:
## call text

In [ ]:
## print it

In [ ]:
## MATCH ALL animal data

In [ ]:
## Make it easier to read with VERBOSE

In [ ]:
## type of object

In [ ]:
## export to df

## Capture Weapons data
Place weapons dataframe

In [ ]:
## pull in weapons

In [ ]:
## regex to find pattern

In [ ]:
## test with search

In [ ]:
## CAPTURE into weapons table

In [ ]:
## how do we capture the first tuble item as a list?

In [ ]:
## convert into df

In [ ]:
## export as CSV

## Find key data points embedded in text

#### demo text:

In [ ]:
some_text = '''
Name: Sandeep Junnarkar
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: January 5, 2011
Eu tempus eros augue quis nulla. 
Location: Berkeley, Ca

Name: Peter Smith
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: March 24, 1988
Eu tempus eros augue quis nulla. 
Location: New York, NY

Name: American Artist
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: July 1, 2022
Eu tempus eros augue quis nulla. 
Location: Flushing, NY

Name: Jill F. Doe
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: December 16, 2010
Eu tempus eros augue quis nulla. 
Location: Miami, Florida
'''

In [ ]:
## patterns:

In [ ]:
## find dates

In [ ]:
## find names

In [ ]:
## pulling in multiple capture groups

In [ ]:
## lo
loc_list = loc_pat.findall(some_text)
loc_list

In [ ]:
df = pd.DataFrame(list(zip(names_list, loc_list, date_list)),
                 columns = ["name", "location", "date"])
df