# Regular Expressions – Part 3 Capturing into DF

Pages we need to visit:

- Live Testing: https://regex101.com/
- Sandeep's <a href="https://docs.google.com/spreadsheets/d/1A39lM4SiGZbzZPxrjEXkR05aksAewudccWmojoIU0Gk/edit?usp=sharing">REGEX Tip sheet</a>

### Some dummy text:

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163.

&^%@ 129

In [1]:
## place dummy text into a variable called mydoc
mydoc = '''
12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163.

&^%@ 129

abba



'''

In [2]:
## call mydoc
mydoc

"\n12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.\n\n\nAb_CD123  123456 and 12456\ttor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11\n\nThe cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!\n\nAB_cd \t<+>-.,!@# $%^&*();\\/|_^@1# (917) 488-5410\n\n*!dsar2d1\n\nI told him to search the thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.\n\nabcdefgczhijklmnopqrstuvwxyz\tABCDEFGCZHIJKLMNOPQRSTUVWXYZ\n\nA h0g is a hog.\n\nDog and dog and DOG. His number is 415.458.9163.\n\n&^%@ 129\n\nabba\n\n\n\n"

In [4]:
## import libraries
import re
import pandas as pd

### Is a value present?

In [6]:
## example list - run it
mylist = [1, 2, 3, 4, 5, 6, 8, 7, 9]

In [7]:
## is the number 1 in the list?
1 in mylist

True

In [8]:
## is the number 12 in the list?
12 in mylist

False

In [9]:
### is "12534" in mydoc
"12534" in mydoc

True

In [10]:
## is "x34" in mydoc
"x34" in mydoc

False

#### Let's actually use a regex pattern

In [11]:
## find all words and digits (excluding symbols)
pat = re.compile("\w+")

In [13]:
## let's run it on our mydoc string
re.search(pat, mydoc)

In [ ]:
## put out the actual match

## ```findall```

Returns a list of all found items

``` result = your_pattern.findall(doc_to_search)```

In [14]:
## use findall to find all matching patterns
x = pat.findall(mydoc)
x

['12534',
 '127',
 'ab',
 'aba',
 'abba',
 'sandeepj',
 'bloomberg',
 'net',
 'abbba',
 'abbbbba',
 '518',
 '469',
 '4581',
 'abcde',
 'The',
 'dog',
 'is',
 'a',
 'not',
 'a',
 'hog',
 'ABA',
 'ABBA',
 'ABBBA',
 'Ab_CD123',
 '123456',
 'and',
 '12456',
 'tor',
 '12531245134562',
 '123867584789',
 '40',
 '44',
 'or',
 '3',
 'or',
 '52',
 '583',
 '08',
 'or',
 '610',
 '235',
 '11',
 'The',
 'cat',
 'sat',
 'down',
 'and',
 'called',
 '514',
 '957',
 '3453',
 'while',
 'the',
 'other',
 'caaaaaat',
 'purred',
 'This',
 'cat',
 'is',
 'in',
 'California',
 'while',
 'this',
 'caaaat',
 'is',
 'in',
 'Iraq',
 'but',
 'none',
 'are',
 'in',
 'ct',
 'My',
 'dog',
 'prefers',
 'cat',
 'food',
 'to',
 'dog',
 'food',
 'but',
 'hates',
 'fish',
 'food',
 'My',
 'food',
 'tastes',
 'yummy',
 'AB_cd',
 '_',
 '1',
 '917',
 '488',
 '5410',
 'dsar2d1',
 'I',
 'told',
 'him',
 'to',
 'search',
 'the',
 'thesaurus',
 'where',
 'sandeep',
 'junnarkar',
 'journalism',
 'cuny',
 'edu',
 'he',
 'd',
 'be',
 'able',
 'to',
 'sjnews',
 'gmail',
 'com',
 'find',
 'words',
 'like',
 'them',
 'abcdefgczhijklmnopqrstuvwxyz',
 'ABCDEFGCZHIJKLMNOPQRSTUVWXYZ',
 'A',
 'h0g',
 'is',
 'a',
 'hog',
 'Dog',
 'and',
 'dog',
 'and',
 'DOG',
 'His',
 'number',
 'is',
 '415',
 '458',
 '9163',
 '129',
 'abba']

In [15]:
## what object is it?
type(x)

list

## Import document(s) to scan

In [16]:
## access external document
## store text into a variable
with open("demo.txt", "r") as text_obj:
    text = text_obj.read()
text

'DEMO TEXT\n\nTELEPHONE NUMBERS\nTel. 718-392-4793\nTel. (646) 469-3211\nTel. 917.425.2796\n\nNUMBERS\n1\n12\n123\n123,456\n123,456,789\n123,456,789.01\n\nEMAILS\nsandeep.junnarkar@journalism.cuny.edu\nsandeepj@gmail.com\nsjunnarkar@bloomberg.net\nsandeep.junnarkar@news.co.uk\n\n\nPOLICE\nDet. Frank Castille\nPolice Officer Dan D. Dennings\nLt. Patrician Grace\nDetective Susan Treeble\nOfficer Cantwell Brady-Stevens\n\n\nMOCK TABLE\ncat 3452 black\ndog 234 white\nfish 3562 silver\nrat 94 white\nbird 1957 purple\nhorse 3 black\nchameleon  5724 green\nsnake 6730 red\n'

In [17]:
## print text
print(text)

DEMO TEXT

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens


MOCK TABLE
cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

In [18]:
## call text
text

'DEMO TEXT\n\nTELEPHONE NUMBERS\nTel. 718-392-4793\nTel. (646) 469-3211\nTel. 917.425.2796\n\nNUMBERS\n1\n12\n123\n123,456\n123,456,789\n123,456,789.01\n\nEMAILS\nsandeep.junnarkar@journalism.cuny.edu\nsandeepj@gmail.com\nsjunnarkar@bloomberg.net\nsandeep.junnarkar@news.co.uk\n\n\nPOLICE\nDet. Frank Castille\nPolice Officer Dan D. Dennings\nLt. Patrician Grace\nDetective Susan Treeble\nOfficer Cantwell Brady-Stevens\n\n\nMOCK TABLE\ncat 3452 black\ndog 234 white\nfish 3562 silver\nrat 94 white\nbird 1957 purple\nhorse 3 black\nchameleon  5724 green\nsnake 6730 red\n'

In [23]:
## find all phone numbers
tel_pat = re.compile("\(?\d{3}\)?[-\s\.]?\d{3}[-\s\.]?\d{4}")
tel_numbers = tel_pat.findall(text)
tel_numbers

['718-392-4793', '(646) 469-3211', '917.425.2796']

In [24]:
## call our tel_pat to see someting interesting
tel_pat

re.compile(r'\(?\d{3}\)?[-\s\.]?\d{3}[-\s\.]?\d{4}', re.UNICODE)

### Flags

- ```re.IGNORECASE``` or ```re.I``` for ignore case
- ```re.MULTILINE¶``` or ```re.M``` for multiline
- ```re.DOTALL``` or ```re.S``` for period includes new lines
- ```re.VERBOSE``` or ```re.X``` for breaking up the regex

<a href="https://docs.python.org/3/library/re.html#re.ASCII">More on flags</a>.

In [25]:
## find all words at the beginning of a line
pat1 = re.compile(r"^[a-z]+\b")

In [26]:
## print all matches
pat1.findall(text)

[]

In [27]:
## find all words at the beginning of a line
## ^ or $ need multiline flag
pat2 = re.compile(r"^[a-z]+\b", re.M)

In [28]:
## print all matches
pat2.findall(text)

['sandeep',
 'sandeepj',
 'sjunnarkar',
 'sandeep',
 'cat',
 'dog',
 'fish',
 'rat',
 'bird',
 'horse',
 'chameleon',
 'snake']

In [29]:
## find all words at the beginning of a line regardless of case
pat3 = re.compile(r"^[a-z]+\b", re.M | re.I)

In [30]:
## find all matches for pat3
pat3.findall(text)

['DEMO',
 'TELEPHONE',
 'Tel',
 'Tel',
 'Tel',
 'NUMBERS',
 'EMAILS',
 'sandeep',
 'sandeepj',
 'sjunnarkar',
 'sandeep',
 'POLICE',
 'Det',
 'Police',
 'Lt',
 'Detective',
 'Officer',
 'MOCK',
 'cat',
 'dog',
 'fish',
 'rat',
 'bird',
 'horse',
 'chameleon',
 'snake']

## Capture Mock Table data
Place animals, ID and color and place into dataframe

In [31]:
## call text
text

'DEMO TEXT\n\nTELEPHONE NUMBERS\nTel. 718-392-4793\nTel. (646) 469-3211\nTel. 917.425.2796\n\nNUMBERS\n1\n12\n123\n123,456\n123,456,789\n123,456,789.01\n\nEMAILS\nsandeep.junnarkar@journalism.cuny.edu\nsandeepj@gmail.com\nsjunnarkar@bloomberg.net\nsandeep.junnarkar@news.co.uk\n\n\nPOLICE\nDet. Frank Castille\nPolice Officer Dan D. Dennings\nLt. Patrician Grace\nDetective Susan Treeble\nOfficer Cantwell Brady-Stevens\n\n\nMOCK TABLE\ncat 3452 black\ndog 234 white\nfish 3562 silver\nrat 94 white\nbird 1957 purple\nhorse 3 black\nchameleon  5724 green\nsnake 6730 red\n'

In [32]:
## print it
print(text)

DEMO TEXT

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens


MOCK TABLE
cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

In [33]:
## MATCH ALL animal data
mock_pat = re.compile("^[a-z]+\s+\d+\s\w+$", re.MULTILINE)
mock_t = mock_pat.findall(text)
mock_t

['cat 3452 black',
 'dog 234 white',
 'fish 3562 silver',
 'rat 94 white',
 'bird 1957 purple',
 'horse 3 black',
 'chameleon  5724 green',
 'snake 6730 red']

In [35]:
df = pd.DataFrame(mock_t)
df

                       0
0         cat 3452 black
1          dog 234 white
2       fish 3562 silver
3           rat 94 white
4       bird 1957 purple
5          horse 3 black
6  chameleon  5724 green
7         snake 6730 red

In [37]:
## Make it easier to read with VERBOSE
mock_pat = re.compile("""(^[a-z]+) # capture animal name
                        \s+ # exclude capture of space
                        (\d+) # capture ID number
                        \s # exclude capture of space
                        (\w+)$ # capature animal color
                    """,
                     re.M | re.VERBOSE)

mock_table = mock_pat.findall(text)
mock_table

[('cat', '3452', 'black'),
 ('dog', '234', 'white'),
 ('fish', '3562', 'silver'),
 ('rat', '94', 'white'),
 ('bird', '1957', 'purple'),
 ('horse', '3', 'black'),
 ('chameleon', '5724', 'green'),
 ('snake', '6730', 'red')]

In [38]:
## type of object
for item in mock_table:
    print(type(item))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [39]:
## export to df
df1 = pd.DataFrame(mock_table)
df1.columns = ["Animal", "ID", "Color"]

df1

      Animal    ID   Color
0        cat  3452   black
1        dog   234   white
2       fish  3562  silver
3        rat    94   white
4       bird  1957  purple
5      horse     3   black
6  chameleon  5724   green
7      snake  6730     red

## Capture Weapons data
Place weapons dataframe

In [40]:
## pull in weapons.txt

with open("weapons.txt", "r") as w:
    wtext = w.read()

wtext

'Weapon Type/Force Used 2000 2001 2002 2003 2004 totals\nPersonal Weapons 12,945 17,830 20,636 21,933 25,050 98,394\nNone 2,702 3,114 2,974 3,294 4,176 16,260\nOther 1,775 2,311 2,332 2,420 2,842 11,680\nKnife/Cutting Instrument 1,511 2,082 2,080 2,445 2,852 10,970\nHandgun 307 376 398 430 497 2,008\nBlunt Object 283 404 394 455 469 2,005\nFirearm (type not stated) 94 131 103 135 146 609\nOther Firearm 74 107 92 155 154 582\nExplosives 145 139 93 89 95 561\nMotor Vehicle 43 52 46 59 71 271\nFire/Incendiary Device 36 34 42 36 88 236\nRifle 23 33 33 24 37 150\nShotgun 15 24 30 19 24 112\nDrugs/Narcotics/Sleeping Pills 9 4 8 14 6 41\nPoison 1 8 4 11 16 40\nAsphyxiation 2 1 3 6 2 14\nUnknown 593 1,128 1,163 1,069 1,098 5,051'

In [41]:
print(wtext)

Weapon Type/Force Used 2000 2001 2002 2003 2004 totals
Personal Weapons 12,945 17,830 20,636 21,933 25,050 98,394
None 2,702 3,114 2,974 3,294 4,176 16,260
Other 1,775 2,311 2,332 2,420 2,842 11,680
Knife/Cutting Instrument 1,511 2,082 2,080 2,445 2,852 10,970
Handgun 307 376 398 430 497 2,008
Blunt Object 283 404 394 455 469 2,005
Firearm (type not stated) 94 131 103 135 146 609
Other Firearm 74 107 92 155 154 582
Explosives 145 139 93 89 95 561
Motor Vehicle 43 52 46 59 71 271
Fire/Incendiary Device 36 34 42 36 88 236
Rifle 23 33 33 24 37 150
Shotgun 15 24 30 19 24 112
Drugs/Narcotics/Sleeping Pills 9 4 8 14 6 41
Poison 1 8 4 11 16 40
Asphyxiation 2 1 3 6 2 14
Unknown 593 1,128 1,163 1,069 1,098 5,051

In [48]:
## regex to find pattern
w_pat = re.compile("""(?P<weapon_type>^\D+) ## capture weapons type
                   \s # exclude space
                   (?P<y_2000>[,\d]+) # capture 2000
                   \s # exclude space
                   (?P<y_2001>[,\d]+) # capture 2001
                   \s
                   (?P<y_2002>[,\d]+) # capture 2002
                   \s
                   (?P<y_2003>[,\d]+) # capture 2003
                   \s
                   (?P<y_2004>[,\d]+) # capture 2004
                   \s
                   (?P<totals>[,\w]+) #capture totals
                   """,
                  re.X | re.M | re.I)

In [49]:
## test with search
re.search(w_pat, wtext)

In [50]:
## CAPTURE into weapons table
w_table = re.findall(w_pat, wtext)
w_table

[('Weapon Type/Force Used', '2000', '2001', '2002', '2003', '2004', 'totals'),
 ('Personal Weapons',
  '12,945',
  '17,830',
  '20,636',
  '21,933',
  '25,050',
  '98,394'),
 ('None', '2,702', '3,114', '2,974', '3,294', '4,176', '16,260'),
 ('Other', '1,775', '2,311', '2,332', '2,420', '2,842', '11,680'),
 ('Knife/Cutting Instrument',
  '1,511',
  '2,082',
  '2,080',
  '2,445',
  '2,852',
  '10,970'),
 ('Handgun', '307', '376', '398', '430', '497', '2,008'),
 ('Blunt Object', '283', '404', '394', '455', '469', '2,005'),
 ('Firearm (type not stated)', '94', '131', '103', '135', '146', '609'),
 ('Other Firearm', '74', '107', '92', '155', '154', '582'),
 ('Explosives', '145', '139', '93', '89', '95', '561'),
 ('Motor Vehicle', '43', '52', '46', '59', '71', '271'),
 ('Fire/Incendiary Device', '36', '34', '42', '36', '88', '236'),
 ('Rifle', '23', '33', '33', '24', '37', '150'),
 ('Shotgun', '15', '24', '30', '19', '24', '112'),
 ('Drugs/Narcotics/Sleeping Pills', '9', '4', '8', '14', '6', '41'),
 ('Poison', '1', '8', '4', '11', '16', '40'),
 ('Asphyxiation', '2', '1', '3', '6', '2', '14'),
 ('Unknown', '593', '1,128', '1,163', '1,069', '1,098', '5,051')]

In [51]:
df = pd.DataFrame(w_table)
df

,0,1,2,3,4,5,6
0,Weapon Type/Force Used,2000,2001,2002,2003,2004,totals
1,Personal Weapons,"12,945","17,830","20,636","21,933","25,050","98,394"
2,None,"2,702","3,114","2,974","3,294","4,176","16,260"
3,Other,"1,775","2,311","2,332","2,420","2,842","11,680"
4,Knife/Cutting Instrument,"1,511","2,082","2,080","2,445","2,852","10,970"
5,Handgun,307,376,398,430,497,"2,008"
6,Blunt Object,283,404,394,455,469,"2,005"
7,Firearm (type not stated),94,131,103,135,146,609
8,Other Firearm,74,107,92,155,154,582
9,Explosives,145,139,93,89,95,561
10,Motor Vehicle,43,52,46,59,71,271
11,Fire/Incendiary Device,36,34,42,36,88,236
12,Rifle,23,33,33,24,37,150
13,Shotgun,15,24,30,19,24,112
14,Drugs/Narcotics/Sleeping Pills,9,4,8,14,6,41
15,Poison,1,8,4,11,16,40
16,Asphyxiation,2,1,3,6,2,14
17,Unknown,593,"1,128","1,163","1,069","1,098","5,051"

In [52]:
## how do we capture the first tuble item as a list?
list(w_table[0])

['Weapon Type/Force Used', '2000', '2001', '2002', '2003', '2004', 'totals']

In [53]:
list(w_table[1:])

[('Personal Weapons',
  '12,945',
  '17,830',
  '20,636',
  '21,933',
  '25,050',
  '98,394'),
 ('None', '2,702', '3,114', '2,974', '3,294', '4,176', '16,260'),
 ('Other', '1,775', '2,311', '2,332', '2,420', '2,842', '11,680'),
 ('Knife/Cutting Instrument',
  '1,511',
  '2,082',
  '2,080',
  '2,445',
  '2,852',
  '10,970'),
 ('Handgun', '307', '376', '398', '430', '497', '2,008'),
 ('Blunt Object', '283', '404', '394', '455', '469', '2,005'),
 ('Firearm (type not stated)', '94', '131', '103', '135', '146', '609'),
 ('Other Firearm', '74', '107', '92', '155', '154', '582'),
 ('Explosives', '145', '139', '93', '89', '95', '561'),
 ('Motor Vehicle', '43', '52', '46', '59', '71', '271'),
 ('Fire/Incendiary Device', '36', '34', '42', '36', '88', '236'),
 ('Rifle', '23', '33', '33', '24', '37', '150'),
 ('Shotgun', '15', '24', '30', '19', '24', '112'),
 ('Drugs/Narcotics/Sleeping Pills', '9', '4', '8', '14', '6', '41'),
 ('Poison', '1', '8', '4', '11', '16', '40'),
 ('Asphyxiation', '2', '1', '3', '6', '2', '14'),
 ('Unknown', '593', '1,128', '1,163', '1,069', '1,098', '5,051')]

In [54]:
## convert into df
df = pd.DataFrame(w_table[1:])
df.columns = list(w_table[0])
df

,Weapon Type/Force Used,2000,2001,2002,2003,2004,totals
0,Personal Weapons,"12,945","17,830","20,636","21,933","25,050","98,394"
1,None,"2,702","3,114","2,974","3,294","4,176","16,260"
2,Other,"1,775","2,311","2,332","2,420","2,842","11,680"
3,Knife/Cutting Instrument,"1,511","2,082","2,080","2,445","2,852","10,970"
4,Handgun,307,376,398,430,497,"2,008"
5,Blunt Object,283,404,394,455,469,"2,005"
6,Firearm (type not stated),94,131,103,135,146,609
7,Other Firearm,74,107,92,155,154,582
8,Explosives,145,139,93,89,95,561
9,Motor Vehicle,43,52,46,59,71,271
10,Fire/Incendiary Device,36,34,42,36,88,236
11,Rifle,23,33,33,24,37,150
12,Shotgun,15,24,30,19,24,112
13,Drugs/Narcotics/Sleeping Pills,9,4,8,14,6,41
14,Poison,1,8,4,11,16,40
15,Asphyxiation,2,1,3,6,2,14
16,Unknown,593,"1,128","1,163","1,069","1,098","5,051"

In [ ]:
## export as CSV

## Find key data points embedded in text

#### demo text:

In [ ]:
some_text = '''
Name: Sandeep Junnarkar
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: January 5, 2011
Eu tempus eros augue quis nulla. 
Location: Berkeley, Ca

Name: Peter Smith
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: March 24, 1988
Eu tempus eros augue quis nulla. 
Location: New York, NY

Name: American Artist
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: July 1, 2022
Eu tempus eros augue quis nulla. 
Location: Flushing, NY

Name: Jill F. Doe
Proin elementum, ipsum id ullamcorper euismod, diam diam laoreet urna. 
Date: December 16, 2010
Eu tempus eros augue quis nulla. 
Location: Miami, Florida
'''

In [ ]:
## patterns:

In [ ]:
## find dates

In [ ]:
## find names

In [ ]:
## pulling in multiple capture groups

In [ ]:
## lo
loc_list = loc_pat.findall(some_text)
loc_list

In [ ]:
df = pd.DataFrame(list(zip(names_list, loc_list, date_list)),
                 columns = ["name", "location", "date"])
df